* {
    margin: 0;
    padding: 0;
}

html, body, .swiper-container, .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

html {
    font-size: 100px;
}

.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: 1rem;
    height: 1rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}
@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.page1 .head {
    background: url("../imgtel/toget1.png") no-repeat;
    background-size: cover;
    width: 8rem;
    height: 2rem;
    position: absolute;
    top: .5rem;
    left: 2.8rem;
}

.page1 .text {
    position: absolute;
    display: block;
    color: white;
    font-size: 1rem;
    padding: .3rem;
    padding-left: .5rem;
    line-height: 1.4rem;
    letter-spacing: .2rem;
    top: 3rem;
    color: chartreuse;
    text-shadow: 0 0 .2rem #ffd752;
    opacity: 0;
}

.page1 .tohave {
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;;
    background: url("../imgtel/tohove.png") no-repeat;
    width: 6.1rem;
    height: 1.5rem;
    position: absolute;
    top: 13rem;
    left: 3.78rem;
    background-size: cover;
    opacity: 0;
}

.bottom {
    width: 13rem;
    height: 5rem;
    position: absolute;
    top: 15rem;
    left: .3rem;
    display: none;
}

.bottom span {
    display: block;
    font-size: .7rem;
    letter-spacing: .2rem;
    color: #fbff75;
    text-align: center;
}

.bottom span:nth-child(2) {
    width: 10rem;
    height: 4rem;
    background: url("../imgtel/name2.png");
    background-size: cover;
    margin: 0 auto;
}

.toup {
    position: absolute;
    top: 23rem;
    left: 6.33rem;
    width: 1rem;
    height: 1rem;
    border-left: .2rem solid white;
    border-bottom: .2rem solid white;
    -webkit-animation: toup 1s infinite both;
    -o-animation: toup 1s infinite both;
    animation: toup 1s infinite both;
    z-index: 99;
}

@-webkit-keyframes toup {
    0% {
        -webkit-transform: translateY(0rem) rotate(135deg);
        -moz-transform: translateY(0rem) rotate(135deg);
        -ms-transform: translateY(0rem) rotate(135deg);
        -o-transform: translateY(0rem) rotate(135deg);
        transform: translateY(0rem) rotate(135deg);
    }
    100% {
        -webkit-transform: translateY(-.3rem) rotate(135deg);
        -moz-transform: translateY(-.3rem) rotate(135deg);
        -ms-transform: translateY(-.3rem) rotate(135deg);
        -o-transform: translateY(-.3rem) rotate(135deg);
        transform: translateY(-.3rem) rotate(135deg);
    }
}

.swiper-slide {
    position: relative;

}

.page1 {
    background: url("../imgtel/backFir.jpg") no-repeat;
    background-size: cover;
}

.page2 {
    background: url("../imgtel/backFir3.png") no-repeat;
    background-size: cover;
}

.page3 {
    background: url("../imgtel/backFir4.png") no-repeat;
    background-size: cover;
}

.page4 {

    background: url("../imgtel/backFir2.png") no-repeat;
    background-size: cover;
}

.page2 > img:nth-child(1) {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: 0;
}

.page3 > img:nth-child(1) {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    opacity: 0;
}

.page2 .intro {
    background: rgba(0, 0, 0, 0.3);
    color: #c15e12;
    border: 0.2rem dotted rgba(247, 228, 143, 0.5);
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    box-shadow: 0 0 0.1rem 0 gold;
    text-align: center;
    position: absolute;
    top: 3rem;
    left: 1rem;
    opacity: 0;
}

.page3 .intro {
    background: rgba(0, 0, 0, 0.3);
    color: #3fff3d;
    border: 0.2rem dotted rgba(247, 228, 143, 0.5);
    width: 1rem;
    height: 5.5rem;
    font-size: 1rem;
    box-shadow: 0 0 0.1rem 0 gold;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 4rem;
    opacity: 0;
}

.page2 .body {
    position: absolute;
    left: 0.83rem;
    top: 7rem;
    width: 12rem;
    height: 14rem;
    font-size: 1rem;
    box-shadow: 0 0 0.1rem 0 gold;
    border: 0.2rem dotted rgba(247, 228, 143, 0.5);
    color: #c1bd30;
    opacity: 0;
}

.page3 .body {
    position: absolute;
    left: 0.83rem;
    top: 8rem;
    width: 12rem;
    height: 13rem;
    font-size: 1rem;
    box-shadow: 0 0 0.1rem 0 gold;
    border: 0.2rem dotted rgba(247, 228, 143, 0.5);
    color: #c1bd30;
    opacity: 0;
}

.page3 .body > li {
    width: 12rem;
    height: 3rem;
}

.page3 .body > li > i {
    float: left;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    opacity: 0;
}

.page3 .body span {
    float: left;
    width: 8rem;
    height: 1rem;
    margin: 1rem 0rem;
    opacity: 0;
}

.body .log1 {
    background: url("../imgtel/js.jpg") no-repeat;
    background-size: cover;
}

.body .log2 {
    background: url("../imgtel/nodejs.jpg") no-repeat;
    background-size: cover;
}

.body .log3 {
    background: url("../imgtel/css3.jpg") no-repeat;
    background-size: cover;
}

.body .log4 {
    background: url("../imgtel/H5.jpg") no-repeat -0.55rem 0;
    background-size: cover;
}

.bar1 {
    background: url("../imgtel/99.png") no-repeat;
    background-size: cover;
}

.bar2 {
    background: url("../imgtel/80.png") no-repeat;
    background-size: cover;
}

.bar3 {
    background: url("../imgtel/80.png") no-repeat;
    background-size: cover;
}

.bar4 {
    background: url("../imgtel/80.png") no-repeat;
    background-size: cover;
}

.page2 .body p {
    margin: 0.3rem;
}

.page4 div {
    opacity: 0;
}

.pro {
    background: url(../imgtel/project.png) no-repeat;
    width: 7rem;
    height: 1.5rem;
    position: absolute;
    left: 0.8rem;
    top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    background-size: cover;

}

.inner {
    width: 12rem;
    height: 6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem gold;
    border-radius: 0.2rem;
    border: 0.1rem solid gold;
    position: absolute;
    left: 0.8rem;
    top: 2.5rem;
    font-size: 0.8rem;
    color: white;

}

.page4 .hire {
    background: url("../imgtel/hire.png");
    width: 12rem;
    height: 2rem;
    background-size: cover;
    transform: rotate(15deg);
    position: absolute;
    top: 18rem;
    left: 0.8rem;
    /*opacity: 1;*/
    opacity: 0;
}

.pro1 {
    background: url(../imgtel/stu.png) no-repeat;
    background-size: cover;
    width: 7rem;
    height: 1.5rem;
    position: absolute;
    top: 10rem;
    left: 0.8rem;
}

.inner1 {
    width: 12rem;
    height: 3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem gold;
    border-radius: 0.2rem;
    border: 0.1rem solid gold;
    position: absolute;
    left: 0.8rem;
    top: 11.5rem;
    font-size: 0.8rem;
    color: white;

}

#page1 .text {
    -webkit-animation: fadeInDown 3s 1 both;
    -o-animation: fadeInDown 3s 1 both;
    animation: fadeInDown 3s 1 both;
}

#page1 .tohave {
    -webkit-animation: flipInX1 1s 1 3s both;
    -o-animation: flipInX1 1s 1 3s both;
    animation: flipInX1 1s 1 3s both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flipInX1 {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX1 {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

#page2 > img:nth-child(1) {
    -webkit-animation: fadeInRight .5s linear both;
    -o-animation: fadeInRight .5s linear both;
    animation: fadeInRight .5s linear both;
}

#page2 .intro {
    -webkit-animation: fadeInLeft .5s linear both;
    -o-animation: fadeInLeft .5s linear both;
    animation: fadeInLeft .5s linear both;
}

#page2 .body {
    -webkit-animation: fadeInLeft .5s linear .5s both;
    -o-animation: fadeInLeft .5s linear .5s both;
    animation: fadeInLeft .5s linear .5s both;
}

#page2 .body > p:nth-child(1) {
    -webkit-animation: fadeInLeft .5s linear .8s both;
    -o-animation: fadeInLeft .5s linear .8s both;
    animation: fadeInLeft .5s linear .8s both;
}

#page2 .body > p:nth-child(2) {
    -webkit-animation: fadeInLeft .5s linear 1.1s both;
    -o-animation: fadeInLeft .5s linear 1.1s both;
    animation: fadeInLeft .5s linear 1.1s both;
}

#page2 .body > p:nth-child(3) {
    -webkit-animation: fadeInLeft .5s linear 1.4s both;
    -o-animation: fadeInLeft .5s linear 1.4s both;
    animation: fadeInLeft .5s linear 1.4s both;
}

#page2 .body > p:nth-child(4) {
    -webkit-animation: fadeInLeft .5s linear 1.7s both;
    -o-animation: fadeInLeft .5s linear 1.7s both;
    animation: fadeInLeft .5s linear 1.7s both;
}

#page2 .body > p:nth-child(5) {
    -webkit-animation: fadeInLeft .5s linear 2.0s both;
    -o-animation: fadeInLeft .5s linear 2.0s both;
    animation: fadeInLeft .5s linear 2.0s both;
}

#page2 .body > p:nth-child(6) {
    -webkit-animation: fadeInLeft .5s linear 2.3s both;
    -o-animation: fadeInLeft .5s linear 2.3s both;
    animation: fadeInLeft .5s linear 2.3s both;
}

#page2 .body > p:nth-child(7) {
    -webkit-animation: fadeInLeft .5s linear 2.3s both;
    -o-animation: fadeInLeft .5s linear 2.3s both;
    animation: fadeInLeft .5s linear 2.3s both;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

#page3 .body i {
    -webkit-animation: shake 1s 1 1s both;
    -o-animation: shake 1s 1 1s both;
    animation: shake 1s 1 1s both;;
}

#page3 > img:nth-child(1) {
    -webkit-animation: fadeInRight .5s linear both;
    -o-animation: fadeInRight .5s linear both;
    animation: fadeInRight .5s linear both;
}

#page3 .intro {
    -webkit-animation: fadeInLeft .5s linear both;
    -o-animation: fadeInLeft .5s linear both;
    animation: fadeInLeft .5s linear both;
}

#page3 .body {
    -webkit-animation: fadeInLeft .5s linear .5s both;
    -o-animation: fadeInLeft .5s linear .5s both;
    animation: fadeInLeft .5s linear .5s both;
}

#page3 .body span {
    -webkit-animation: shake .5s 2s both;
    -o-animation: shake .5s 2s both;
    animation: shake .5s 2s both;
}

/*#page3 .bar2{*/
/*-webkit-animation: tada .5s  2.0s both;*/
/*-o-animation: tada .5s  2.0s both;*/
/*animation: tada .5s  2.0s both;*/
/*}*/
/*#page3 .bar3{*/
/*-webkit-animation: tada .5s  2.5s both;*/
/*-o-animation: tada .5s  2.5s both;*/
/*animation: tada .5s  2.5s both;*/
/*}*/
/*#page3 .bar4{*/
/*-webkit-animation: tada .5s  3.0s both;*/
/*-o-animation: tada .5s  3.0s both;*/
/*animation: tada .5s  3.0s both;*/
/*}*/
#page4 .pro {
    -webkit-animation: zoomIn 1.5s  both;
    animation: zoomIn 1.5s both;
}

#page4 .inner {
    -webkit-animation: zoomIn 1.5s 1 both;
    animation: zoomIn 1.5s 1 both;

}

#page4 .pro1 {
    -webkit-animation: zoomIn 1.5s  1 both;
    animation: zoomIn 1.5s  1 both;

}

#page4 .inner1 {
    -webkit-animation: zoomIn 1.5s 1 both;
    animation: zoomIn 1.5s 1 both;

}
#page4 .hire{
    -webkit-animation: rote 1s infinite both;
    -o-animation: rote 1s infinite both;
    animation: rote 1s infinite both;
}
@-webkit-keyframes rote {
    0%{
        opacity: 1;
         transform: rotate(15deg);
     }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: rotate(15deg);
    }
}
@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes shake {
    from, to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes wobble {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 1;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 1;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}